*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}



body {
    padding: 15px;
    font-family: 'Mountains of Christmas', cursive;

    background-color: #D1E1FF;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    max-width: 1150px;
    margin:  0 auto;
    height: 100%;
}

.top {
    order: 1;
    margin: 20px 0 0 0;
    width: 550px;
    height: 100%;
    overflow: hidden;
}

.title {
    font-size: 34px;
    margin-bottom: 10px;
}

.discr {
    font-size: 24px;
}

.hello_picture {
    display: inline-block;
    align-items: center;
    margin: 40px 0 0 0;
    outline: 15px solid #ffe3ff;
    box-shadow: 0 0 45px rgba(43, 0, 38, 1);
    border-radius: 15px;
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
}

.picture {
    width: 100%;
    height: 100%;
}

.buttons_left_title, .buttons_right_title {
    font-size: 24px;
    margin: 0 0 20px 0;
}

.buttons_left {
    padding: 15px 0;
    width: 265px;
    max-height: 350px;
    order: 0;
    margin: 110px 15px 0 15px;
    background-color: #a1c2ff;
    border-radius: 20px;
    border: 5px solid #ffe3ff;
    box-shadow: 0 0 45px rgba(43, 0, 38, 1);
}


.buttons_right {
    padding: 15px 0;
    width: 265px;
    max-height: 350px;
    order: 2;
    margin: 110px 15px 0 15px;
    background-color: #a1c2ff;
    border-radius: 20px;
    border: 5px solid #ffe3ff;
    box-shadow: 0 0 45px rgba(43, 0, 38, 1);
    
}

.buttons_left_but, .buttons_right_but {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waifu, .neko, .shinobu, .bully, .waifu_h, .neko_h, .blowjob {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #fff;

    background: rgb(255,48,175);
    background: -moz-linear-gradient(-45deg, rgba(255,48,175,1) 0%, rgba(127,81,255,1) 50%, rgba(125,185,232,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,48,175,1) 0%,rgba(127,81,255,1) 50%,rgba(125,185,232,1) 100%);
    background: linear-gradient(135deg, rgba(255,48,175,1) 0%,rgba(127,81,255,1) 50%,rgba(125,185,232,1) 100%);

    border: 3px solid #ddb6dd;
    border-radius: 13px;
    opacity: 0.8;
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 0.5);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 0.5);
}

.trap {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #fff;

    background: rgb(255,84,84);
    background: -moz-linear-gradient(-45deg, rgba(255,84,84,1) 1%, rgba(255,151,48,1) 50%, rgba(255,151,48,1) 65%, rgba(255,151,48,1) 65%, rgba(229,73,73,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,84,84,1) 1%,rgba(255,151,48,1) 50%,rgba(255,151,48,1) 65%,rgba(255,151,48,1) 65%,rgba(229,73,73,1) 100%);
    background: linear-gradient(135deg, rgba(255,84,84,1) 1%,rgba(255,151,48,1) 50%,rgba(255,151,48,1) 65%,rgba(255,151,48,1) 65%,rgba(229,73,73,1) 100%);

    border: 3px solid #ddd1b6;
    border-radius: 13px;
    opacity: 0.8;
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 0.5);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 0.5);
}

.waifu:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.waifu:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.neko:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.neko:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.shinobu:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.shinobu:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.bully:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.bully:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.waifu_h:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.waifu_h:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.neko_h:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.neko_h:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.trap:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.trap:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}

.blowjob:hover {
    box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 3px 3px 1px rgba(43, 0, 38, 1);
    opacity: 1;
}

.blowjob:active {
    position: relative;
    top: 2px;
    box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
    -webkit-box-shadow: 1px 1px 1px rgba(43, 0, 38, 1);
}